@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap');
.philosopher {
  font-family: "Philosopher", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}


.notFirstStyle span:not(:first-child){
    border-left: 1.5px solid black;
}